/*--------------------------------------------------------------
# About UsHero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: url(../images/hero-bg.png) top center no-repeat; */
  /* background-size: cover; */
}

.hero h1 {
  margin: 0;
  font-size: 38px;
  font-weight: 700;
  color: #4DD4AC;
}

.hero h2 {
  color: #444444;
  margin: 15px 0 0 0;
  font-size: 18px;
}

.hero .btn-get-started {
  margin-top: 30px;
  line-height: 0;
  padding: 20px 45px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #5FE3BC;
  box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
  text-decoration: none;
}

.hero .btn-get-started span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
}

.hero .btn-get-started i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.hero .btn-get-started:hover i {
  transform: translateX(5px);
}

.hero .hero-img {
  text-align: right;
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  .hero {
    height: auto;
    padding: 120px 0 60px 0;
  }

  .hero .hero-img {
    text-align: center;
    margin-top: 80px;
  }

  .hero .hero-img img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero h2 {
    font-size: 24px;
  }

  .hero .hero-img img {
    width: 100%;
  }
}

/* /////////////////////// our team//////////// */


.team-list img {
  width: 50%;
}

.team-list .content {
  width: 50%;
}

.team-list .content .follow {
  position: absolute;
  bottom: 24px;
}


.team,
.team-list {
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

.team .content .title,
.team-list .content .title {
  font-size: 18px;
}

.team .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.team .member-position,
.team .team-social {
  position: absolute;
  bottom: -35px;
  right: 0;
  left: 0;
  margin: auto 10%;
  z-index: 99;
}

.team .team-social {
  bottom: 40px;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}




@media (max-width: 768px) {

  .team-list img,
  .team-list .content {
    width: 100%;
    float: none !important;
  }

  .team-list img .follow,
  .team-list .content .follow {
    position: relative;
    bottom: 0;
  }
}

.social-icon.social li a {
  color: #adb5bd;
  border-color: #adb5bd;
}

.social-icon li a {
  color: #35404e;
  border: 1px solid #35404e;
  display: inline-block;
  height: 32px;
  text-align: center;
  font-size: 15px;
  width: 32px;
  line-height: 30px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  overflow: hidden;
  position: relative;
}

.rounded {
  border-radius: 5px !important;
}

.para-desc {
  max-width: 600px;
}

.text-muted {
  color: #8492a6 !important;
}

.section-title .title {
  letter-spacing: 0.5px;
  font-size: 30px;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

.rtext{
    font-size: 11px;
}
}

