/* .modal-tabs {
    background-color: var(--main-lighter-gray-color);
} */

.modal-tab.is-active {
    background-color: var(--main-light-gray-color);
    color: var(--main-black-color);
    height: 100%;
}

.modal-tab:hover {
    cursor: pointer;
    color: var(--main-black-color);
}

/* ============ Panel of Tabs contents ========================= */

.modal-panel {
    display: none;
}

.modal-panel.is-show {
    display: block;
}

/* ============ /Panel of Tabs contents ========================= */


.modal-lg {
    max-width: 60% !important;
}

/* 
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type=number]:-ms-input-placeholder {
    text-align: left;
}
input[type=number]::-webkit-input-placeholder {
    text-align: left;
}
input::-moz-placeholder {
 text-align: left;
}
 */