.main-nav {
    background-color: var(--main-green-color);
}

/* ============= Brand ============== */
.brand {
    color: var(--main-offwhite-color);
}

.brand:hover,
.brand:active,
.brand:visited {
    color: var(--main-offwhite-color);
}
/* ============= /Brand ============== */

/* ============= Nav links ============== */
.nav-links {
    color: var(--main-offwhite-color);
    transition: 0.5s ease;
    display: inline-block;
    min-width: fit-content;
}

.nav-links:hover,
.nav-links:active,
.nav-links:visited {
    color: var(--main-offwhite-color);
    border-bottom: 6px solid var(--main-orange-color);
}
/* ============= /Nav links ============== */

/* ============= Navbar Toggler ============== */
.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;

}

.toggler-icon {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 1px;
    opacity: 1;
    right: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    background-color: var(--main-offwhite-color);
}

.middle-bar {
    margin-top: 0px;
}

/* When navigation is clicked */

.navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(-135deg);
}

/* When the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
    margin-top: -16px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 16px;
    transform: rotate(0deg);
}
/* ============= /Navbar Toggler ============== */

/* ============= Image avatar of nav ========== */

.img-avatar {
    max-width: 40px;
    max-height: 40px;
}

.rtl {
    direction: rtl;
}

.rtl .dropdown-menu-right {
    text-align: right;
}

.rtl .dropdown-menu-right li a:hover,
.rtl .dropdown-menu-right li a:active {
    background-color: var(--main-light-gray-color);
    color: var(--main-black-color);
}

.user-items a:hover,
.user-items a:active, 
.user-items a:visited {
    color: var(--main-offwhite-color);
    cursor: pointer;
}


/* ============= /Image avatar of nav ========= */