:root{
    --main-green-color:rgba(77, 212, 172, 1) ;
    --second-green-color:rgba(95, 227, 188, 0.53) ;
    --main-orange-color:rgba(240, 157, 96, 1) ;
    --main-second-color:rgba(240, 157, 96, 0.49) ;
    --main-light-gray-color:rgba(214, 215, 214, 1) ;
    --main-offwhite-color:rgb(252, 252, 252) ;
}

