*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

:root {
  --main-green-color: rgba(77, 212, 172, 1);
  --main-darker-green-color: rgba(37, 186, 142, 1);
  --second-green-color: rgba(95, 227, 188, 0.53);
  --main-orange-color: rgba(240, 157, 96, 1);
  --main-lighter-orange-color: rgba(234, 170, 123, 1);
  --second-orange-color: rgba(240, 157, 96, 0.49);
  --main-dark-gray-color: rgba(172, 171, 171, 1);
  --main-light-gray-color: rgba(201, 201, 201, 1);
  --main-lighter-gray-color: rgb(248 249 250);
  --main-offwhite-color: rgb(252, 252, 252);
  --mode-bg-color: white;
}

body {
  overflow-x: hidden;
  background: var(--mode-bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

/* background colors */
.bg-lighter-gray {
  background-color: var(--main-lighter-gray-color);
}

.bg-second-green-color {
  background-color: var(--second-green-color);
}

.bg-second-oringe-color {
  background-color: var(--second-orange-color);
}


/* text colors */
.color-black {
  color: black;
}

.color-gray-dark {
  color: var(--main-dark-gray-color);
}
