@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Quicksand:wght@600&family=Tajawal&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

:root {
  --bg-main-color: #f2f2f2;
  --main-green-color: rgb(66, 160, 132);
  --main-darker-green-color: rgb(58, 126, 105);
  --second-green-color: rgba(95, 227, 188, 0.53);
  --main-orange-color: rgba(240, 157, 96, 1);
  --main-lighter-orange-color: rgba(234, 170, 123, 1);
  --second-orange-color: rgba(240, 157, 96, 0.49);
  --main-black-color: rgb(56 58 68);
  --main-dark-gray-color: rgb(104, 104, 104);
  --main-light-gray-color: rgba(201, 201, 201, 1);
  --main-lighter-gray-color: rgb(248 249 250);
  --main-offwhite-color: rgb(252, 252, 252);
  --mode-bg-color: white;


  /* font */
  --font-xs: 12px;
  --font-sm: 14px;
  --font-md: 18px;
  --font-lg: 24px;
  --font-xl: 28px;
  --font-2xl: 32px;
  --font-3xl: 38px;
  --font-4xl: 40px;

}

body {
  overflow-x: hidden;
  background: var(--bg-main-color);
  font-family: 'Tajawal', sans-serif !important;

}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

.w-full {
  width: 100%;
}

/* background colors */
.bg-lighter-gray {
  background-color: var(--main-lighter-gray-color);
}

.bg-second-green-color {
  background-color: var(--second-green-color);
}

.bg-second-oringe-color {
  background-color: var(--second-orange-color);
}

.bg-green {
  /* background: linear-gradient(180deg, transparent, var(--main-green-color)); */
  background: #e4e4e4;

}

/* text colors */
.color-black {
  /* color: black; */
  color: var(--main-black-color);
}

.color-gray-dark {
  color: var(--main-dark-gray-color);
}

.color-gray-light {
  color: var(--main-light-gray-color);
}

.color-gray-lighter {
  color: var(--main-lighter-gray-color);
}

.color-orange-lighter {
  color: var(--main-lighter-orange-color);
}

.color-offwhite {
  color: var(--main-offwhite-color);
}

.color-green {
  color: var(--main-green-color);
}

.color-orange {
  color: var(--main-orange-color);
}

/* fonts */
.font-xs {
  font-size: var(--font-xs) !important;
}

.font-sm {
  font-size: var(--font-sm) !important;
}

.font-md {
  font-size: var(--font-md) !important;
}

.font-lg {
  font-size: var(--font-lg) !important;
}

.font-xl {
  font-size: var(--font-xl) !important;
}

.font-2xl {
  font-size: var(--font-2xl) !important;
}

.font-3xl {
  font-size: var(--font-3xl) !important;
}

.font-4xl {
  font-size: var(--font-4xl) !important;
}