/* ============ User Identety Brief ============= */

.profile-identity,
.user-profile-tabs {
    margin: auto;
    width: 75%;
}

.profile-identity {
    border-bottom: 1px solid rgba(0, 0, 0, 0.227);
    padding-block-end: 1.5rem;
}

.profile-card--avatar {
    max-width: 160px;
    max-height: 160px;
    min-width: 160px;
    min-height: 160px;
    margin-inline-end: 1.5rem;
    display: inline-block;
    position: relative;
}

.profile-avatar {
    /* width: 100%; */
    height: 100%;
    border-radius: 100%;
    /* border: 1px solid red; */
    position: absolute;
    right: 0;
}

.active-dot,
.inactive-dot {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 12px;
    right: 24px;
}

.active-dot {
    background-color: var(--main-darker-green-color);
}

.inactive-dot {
    background-color: var(--main-light-gray-color);
}

.profile-identity .user-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.profile-identity .user-info .user-brief {
    font-size: 0.8rem;
}

/* ============ /User Identety Brief ============= */

/* ============ Profile Tabs ===================== */

.tab.is-active {
    border-bottom: 6px solid #373483;
    background-color: var(--main-lighter-gray-color);
    color: var(--main-black-color);
}


.user-profile-tabs p:hover,
.user-profile-tabs p:active,
.user-profile-tabs p:visited {

    cursor: pointer;
    border-bottom: 6px solid #373483;
    background-color: var(--main-lighter-gray-color);
    color: var(--main-black-color);
    transition: 0.5s ease;
}

.kalefny-btn-div {
    width: fit-content;
}

.btn-kalefny,
.btn-tag {
    border: none;
    padding: 6px 12px;
    border-radius: 2px;
}

.btn-kalefny {
    background-color: var(--main-darker-green-color);
}

.btn-kalefny:active,
.btn-tag:active {
    outline: none;
}

/* ============ /Profile Taps ===================== */

/* ============ My Breif =========================== */

.main-section {
    width: 70%;
    margin: auto;
}

.section-title {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.227);
}

/* ============ /My Breif ========================== */

/* ============ My Skills ========================== */

.btn-tag {
    background-color: var(--main-orange-color);
    display: inline-block;
    margin-inline-end: 2px;
    margin-bottom: 6px;
}

.btn-tag:hover {
    color: var(--main-lighter-gray-color);
}

/* ============ /My Skills ========================= */



/* ============ Panel of Tabs contents ========================= */

.panel{
    display:none;
}

.panel.is-show{
    display:block;
}

/* ============ /Panel of Tabs contents ========================= */



/* ################### Responsive ################## */

@media (max-width: 420){


}

@media (max-width: 540){


}


@media (max-width: 885px) {

    .profile-identity,
    .profile-identity .user-info {
        display: flex;
        justify-content: center;
    }

    .profile-identity .user-info {
        flex-direction: column;
        align-items: center;
    }

    .statistics-card {
        margin-top: 1rem;
    }
}

/* skills */
.wak_skill {
    position: relative;
    width: fit-content;

}

.wak_skill__delete {
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -8px;
    left: -4px;
    border-radius: 100%;
    background-color: rgb(197, 59, 59);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.wak_skill__delete:hover {
    background-color: transparent;
    color: black;
}

.line
{
  width:100%;
  height:4px;
  background-color:#373483;
  opacity:0.7;
  margin-bottom:5px;
 margin-top:5px;
}
/* ============ /Responsive ================= */


.scrollbar
{

	float: left;
    overflow-y: scroll;
    overflow-x: hidden;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 450px;
}
/*
 *  STYLE 7
 */

#style-7::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-7::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}